section {
    padding: 60px;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.faq {
    padding: 120px 0 90px;
    background: transparent;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:contain;
	background-position: center; 
    background-image: url(/img/bct.png);
}

.faq .section-title {
    margin-bottom: 54px;

}

.faq .section-title h2 {
    margin-bottom: 22px;
}

.faq .accordion .card {
    border: none;
    margin-bottom: 30px;
}

.faq .accordion .card .card-header {
    border: none;
    border-radius: 1px;
    padding: 0;
    background-color: transparent;
}

.faq .accordion .card .card-header h5 {
    padding: 0;
}

.faq .accordion .card .card-header h5 button {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    padding: 0 30px 0 70px;
    height: 80px;
    display: block;
    width: 100%;
    color: #fff;
    text-align: left;
    background: transparent;
    /* -webkit-box-shadow: 0px -5px 10px 0px #fff;
    box-shadow: 0px -5px 10px 0px #fff; */
    /* border-radius: 10px 10px 0 0; */
    position: relative;
}

.faq .accordion .card .card-header h5 button:after {
    position: absolute;
    left: 30px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    color: transparent;
    text-align: center;
    border: 3px dotted #fff;
    border-radius: 50%;
    line-height: 100%;
    content: '\f067';
    font-size: 10px;
    line-height: 18px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.faq .accordion .card .card-header h5 button.collapsed {
    background: transparent;
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
}

.faq .accordion .card .card-header h5 button[aria-expanded="true"]:after {
    content: '\f068';
    color: #fff;
}

.faq .accordion .card .card-body {
    padding-top: 0;
    background-color: transparent;
    margin-top: -6px;
    padding-left: 72px;
    padding-right: 70px;
    padding-bottom: 23px;
    color: #fff;
    line-height: 30px;
}